import init.samsungexynos7570.usb.rc

on early-init
    mkdir /efs 0771 radio system

on init

    # See storage config details at http://source.android.com/tech/storage/
    mkdir /storage/sdcard 0000 root root
    mkdir /storage/usb1 0000 root root
    mkdir /mnt/media_rw/sdcard 0700 media_rw media_rw
    mkdir /mnt/media_rw/usb1 0700 media_rw media_rw

    export SECONDARY_STORAGE /storage/sdcard:/storage/usb1

    # Support legacy paths
    symlink /storage/sdcard /mnt/ext_sd
    symlink /data/app /factory

    ## SCSC WLAN
    # SD-755: Increase default socket rx buffer limit
    write /proc/sys/net/core/rmem_default 327680
    write /proc/sys/net/core/rmem_max 327680

on post-fs-data
# Log data folder
    mkdir /data/log 0771 radio system

    setprop vold.post_fs_data_done 1

    ## SCSC WLAN
    # Setup Wi-Fi permissions
    mkdir /data/misc/wifi 0770 wifi system
    mkdir /data/misc/wifi/sockets 0770 wifi wifi

on boot
    # override init.rc to keep plenty of large order chunks around
    # to improve allocation times
    write /proc/sys/vm/min_free_order_shift 4

    mount debugfs /sys/kernel/debug /sys/kernel/debug
    # Allow to access debugfs for system:system
    chown system system /sys/kernel/debug

    setprop ro.radio.noril yes

    # Set up kernel tracing, but disable it by default
    chmod 0222 /sys/kernel/debug/tracing/trace_marker
    write /sys/kernel/debug/tracing/tracing_on 0

    # Change permission for interactive governor
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_rate
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_rate
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_slack
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_slack
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/min_sample_time
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/min_sample_time
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/hispeed_freq
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/hispeed_freq
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/target_loads
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/target_loads
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/go_hispeed_load
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/go_hispeed_load
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/above_hispeed_delay
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/above_hispeed_delay
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/boost
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/boost
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/boostpulse
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/input_boost
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/input_boost
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/boostpulse_duration
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/boostpulse_duration
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/io_is_busy
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/io_is_busy

    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/timer_rate
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/timer_rate
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/timer_slack
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/timer_slack
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/min_sample_time
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/min_sample_time
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/hispeed_freq
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/hispeed_freq
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/target_loads
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/target_loads
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/go_hispeed_load
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/go_hispeed_load
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/above_hispeed_delay
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/above_hispeed_delay
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/boost
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/boost
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/boostpulse
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/input_boost
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/input_boost
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/boostpulse_duration
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/boostpulse_duration
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/io_is_busy
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/io_is_busy

# Permission for USB SELECT
    chown system system /sys/class/android_usb/android0/enable
    chmod 0660 /sys/class/android_usb/android0/enable
    chown system system /sys/class/android_usb/android0/idVendor
    chmod 0660 /sys/class/android_usb/android0/idVendor
    chown system system /sys/class/android_usb/android0/idProduct
    chmod 0660 /sys/class/android_usb/android0/idProduct
    chown system system /sys/class/android_usb/android0/f_diag/clients
    chmod 0660 /sys/class/android_usb/android0/f_diag/clients
    chown system system /sys/class/android_usb/android0/functions
    chmod 0660 /sys/class/android_usb/android0/functions
    chown system system /sys/class/android_usb/android0/bDeviceClass
    chmod 0660 /sys/class/android_usb/android0/bDeviceClass


# Support AP/CP log dump
    chmod 0770 /system/bin/sced

# Permission for UART SWITCH
    chmod 0660 /sys/class/sec/switch/uart_sel
    chown system system /sys/class/sec/switch/uart_sel

on fs
    mount_all /fstab.samsungexynos7570
    setprop ro.crypto.fuse_sdcard true
    chown radio system /efs
    restorecon_recursive /efs

# Permissions for ION
    chmod 0660 /sys/class/ion_cma/ion_video_ext/isolated
    chown system system /sys/class/ion_cma/ion_video_ext/isolated

# Permissions for backlight
    chmod 0660 /sys/class/backlight/pwm-backlight.0/brightness
    chown system system /sys/class/backlight/pwm-backlight.0/brightness

# Permissions for gnss
    chmod 0666 /dev/gnss_ipc
    chown shell shell /dev/gnss_ipc

# Copy DRM Key
    copy /system/app/wv.keys /factory/wv.keys

# Permission for DRM Key
    chmod 0644 /factory/wv.keys

# Permission for GPS
    mkdir /data/system 0771 system system
    chown system system /data/system
    mkdir /data/system/gps 0771 system system
    chown system system /data/system/gps

# Permission for flashlight control for HAL3.3
    chmod 0660 /sys/class/camera/flash/rear_flash
    chown system camera /sys/class/camera/flash/rear_flash
    chmod 0660 /sys/class/leds/leds-sec2/rear_flash
    chown system camera /sys/class/leds/leds-sec2/rear_flash

# MobiCore startup
service mobicore /system/bin/mcDriverDaemon -r /system/app/020a0000000000000000000000000000.drbin -r /system/app/mcRegistry/FFFFFFFFD00000000000000000000016.tlbin
    user drmrpc
    group drmrpc
    class core
    seclabel u:r:tee:s0

# RPMB daemon
#service rpmbd /system/bin/rpmbd
#     user root
#     group drmrpc
#     class main
#     seclabel u:r:rpmbd:s0

# Modem boot daemon
#    service cpboot-daemon /sbin/cbd -d -tss310 -bm -mm -P mmcblk0p5
#    class main
#    user root
#    group radio cache inet misc audio sdcard_rw log
#    seclabel u:r:cbd:s0

# SCE daemon
#    service SCE-daemon /system/bin/sced
#    class main
#    user root
#    group system
#    seclabel u:r:sced:s0

service fuse_sdcard /system/bin/sdcard -u 1023 -g 1023 -d /mnt/media_rw/sdcard /storage/sdcard
    class late_start
    disabled
service fuse_usb1 /system/bin/sdcard -u 1023 -g 1023 -d /mnt/media_rw/usb1 /storage/usb1
    class late_start
    disabled

## SCSC WLAN
# WiFi wpa suppplicant service
service wpa_supplicant /system/bin/logwrapper /system/bin/wpa_supplicant -ddd -t \
    -ip2p0 -Dnl80211 -c/data/misc/wifi/p2p_supplicant.conf -N \
    -iwlan0 -Dnl80211 -c/data/misc/wifi/wpa_supplicant.conf \
    -O/data/misc/wifi/sockets \
    -e/data/misc/wifi/entropy.bin -g@android:wpa_wlan0
    #   we will start as root and wpa_supplicant will switch to user wifi
    #   after setting up the capabilities required for WEXT
    #   user wifi
    #   group wifi inet keystore
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot
    seclabel u:r:wpa:s0

service dhcpcd_wlan0 /system/bin/dhcpcd -aABDKL
        class main
        disabled
        oneshot
        seclabel u:r:dhcp:s0

service iprenew_wlan0 /system/bin/dhcpcd -n
        class main
        disabled
        oneshot
        seclabel u:r:dhcp:s0

service dhcpcd_p2p /system/bin/dhcpcd -aABKL
        class main
        disabled
        oneshot
        seclabel u:r:dhcp:s0

service iprenew_p2p /system/bin/dhcpcd -n
        class main
        disabled
        oneshot
        seclabel u:r:dhcp:s0

# SPE-1748: PANU DHCP Client not launched
service dhcpcd_bt-pan /system/bin/dhcpcd -ABKL
        class main
        disabled
        oneshot
        seclabel u:r:dhcp:s0

service iprenew_bt-pan /system/bin/dhcpcd -n
        class main
        disabled
        oneshot
        seclabel u:r:dhcp:s0

# on userdebug and eng builds, enable kgdb on the serial console
on property:ro.debuggable=1
    write /sys/module/kgdboc/parameters/kgdboc ttyFIQ1
    write /sys/module/fiq_debugger/parameters/kgdb_enable 1
