config EXYNOS_DECON_LCD
	depends on EXYNOS_DECON_7570
	bool "Select LCD panel driver"

config EXYNOS_DECON_LCD_S6E8AA0
	depends on EXYNOS_DECON_LCD && EXYNOS_MIPI_DSI
	tristate "S6E8AA0 AMOLED HD LCD driver(720 x 1280)"

config EXYNOS_DECON_LCD_S6E8AA5X01
	depends on EXYNOS_DECON_LCD && EXYNOS_MIPI_DSI
	tristate "S6E8AA5X01 AMOLED HD LCD driver(720 x 1280)"

config EXYNOS_DECON_LCD_S6E36W1X01
	depends on EXYNOS_DECON_LCD && EXYNOS_MIPI_DSI
	tristate "S6E36W1X01 AMOLED HD LCD driver(360 x 360)"

config EXYNOS_DECON_LCD_S6E3AA2
	depends on EXYNOS_DECON_LCD && EXYNOS_MIPI_DSI
	tristate "S6E3AA2 AMOLED HD LCD driver(720 x 1280)"
