allow surfaceflinger secmem_device:chr_file { read write open };
allow surfaceflinger sysfs:file setattr;
allow surfaceflinger surfaceflinger_service:service_manager { add find };
