allow untrusted_app fimg2d_video_device:chr_file { read write ioctl open };
allow untrusted_app efs_file:dir getattr;
allow untrusted_app healthd:dir { getattr search };
allow untrusted_app healthd:file { read getattr open };
allow untrusted_app init:dir { getattr search };
allow untrusted_app init:file { read getattr open };
allow untrusted_app kernel:dir { getattr search };
allow untrusted_app kernel:file { read getattr open };
allow untrusted_app kernel:system module_request;
allow untrusted_app lmkd:dir { getattr search };
allow untrusted_app lmkd:file { read getattr open };
allow untrusted_app logd:dir { getattr search };
allow untrusted_app logd:file { read getattr open };
allow untrusted_app servicemanager:dir getattr;
userdebug_or_eng(`
allow untrusted_app su:dir { getattr search };
allow untrusted_app su:file { getattr };
allow untrusted_app su:file { read open };
allow untrusted_app perfprofd:file { read };
allow untrusted_app perfprofd:dir { getattr };
allow untrusted_app perfprofd:dir { search };
allow untrusted_app perfprofd:file { open };
allow untrusted_app perfprofd:file { getattr };
');
allow untrusted_app ueventd:dir { getattr search };
allow untrusted_app ueventd:file { read getattr open };
allow untrusted_app vold:dir { getattr search };
allow untrusted_app vold:file { read getattr open };
allow untrusted_app debuggerd:dir { getattr search };
allow untrusted_app debuggerd:file { read getattr open };
allow untrusted_app drmserver:dir getattr;
allow untrusted_app netd:dir { getattr search };
allow untrusted_app netd:file { read getattr open };
allow untrusted_app rild:dir { getattr search };
allow untrusted_app rild:file { read getattr open };
allow untrusted_app servicemanager:dir search;
allow untrusted_app servicemanager:file { read getattr open };
allow untrusted_app shell:dir { getattr search };
allow untrusted_app shell:file { read getattr open };
allow untrusted_app surfaceflinger:dir { getattr search };
allow untrusted_app surfaceflinger:file { read getattr open };
allow untrusted_app tee:dir { getattr search };
allow untrusted_app tee:file { read getattr open };
allow untrusted_app proc_security:file { getattr };
allow untrusted_app pstorefs:dir { read };
allow untrusted_app system_app:dir { getattr };
allow untrusted_app pmsg_device:chr_file { getattr };
allow untrusted_app installd_exec:file { execute };
allow untrusted_app dmd_exec:file { execute };
allow untrusted_app sysfs_wake_lock:file { getattr };
allow untrusted_app servicemanager_exec:file { execute };
allow untrusted_app clatd_exec:file { execute };
allow untrusted_app kernel:dir { read };
allow untrusted_app sdcardd_exec:file { execute };
allow untrusted_app blkid_exec:file { execute };
allow untrusted_app rpmbd_exec:file { execute };
allow untrusted_app system_ndebug_socket:sock_file { getattr };
allow untrusted_app debuggerd_exec:file { execute };
allow untrusted_app debugfs:file { getattr };
allow untrusted_app devpts:dir { read };
allow untrusted_app fingerprintd_exec:file { execute };
allow untrusted_app init:dir { read };
allow untrusted_app system_app_data_file:dir { getattr };
allow untrusted_app mdnsd_exec:file { execute };
allow untrusted_app usermodehelper:dir { search };
allow untrusted_app dumpstate_exec:file { execute };
allow untrusted_app netd_exec:file { execute };
allow untrusted_app bluetooth_data_file:dir { getattr };
allow untrusted_app usermodehelper:file { getattr };
allow untrusted_app keystore_exec:file { execute };
allow untrusted_app mnt_media_rw_file:dir { getattr };
allow untrusted_app ppp_exec:file { execute };
allow untrusted_app zygote:unix_dgram_socket { getattr };
allow untrusted_app mtp_exec:file { execute };
allow untrusted_app proc_drop_caches:file { getattr };
allow untrusted_app mediaserver_exec:file { execute };
allow untrusted_app device:dir { read };
allow untrusted_app platform_app:dir { getattr };
allow untrusted_app kernel:security { read_policy };
allow untrusted_app rild_exec:file { execute };
allow untrusted_app gatekeeperd_exec:file { execute };
allow untrusted_app tee_exec:file { execute };
allow untrusted_app sysfs_lowmemorykiller:file { getattr };
allow untrusted_app dnsmasq_exec:file { execute };
allow untrusted_app pstorefs:dir { search };
allow untrusted_app racoon_exec:file { execute };
allow untrusted_app dhcp_exec:file { execute };
allow untrusted_app lmkd_exec:file { execute };
allow untrusted_app bootanim_exec:file { execute };
allow untrusted_app logd_exec:file { execute };
allow untrusted_app shell:dir { read };
allow untrusted_app drmserver:dir { search };
allow untrusted_app radio_data_file:dir { getattr };
allow untrusted_app efs_file:dir { search };
allow untrusted_app adbd:dir { getattr };
allow untrusted_app heapdump_data_file:dir { getattr };
allow untrusted_app usermodehelper:dir { read };
allow untrusted_app fsck_exec:file { execute };
allow untrusted_app drmserver_exec:file { execute };
allow untrusted_app drmserver:file { open };
allow untrusted_app vcd:file { open };
allow untrusted_app keystore:file { getattr };
allow untrusted_app vcd:dir { search };
allow untrusted_app cbd:file { getattr };
allow untrusted_app drmserver:file { read };
allow untrusted_app dmd:dir { search };
allow untrusted_app vcd:dir { getattr };
allow untrusted_app cbd:file { open };
allow untrusted_app dmd:file { open };
allow untrusted_app vcd:file { getattr };
allow untrusted_app vcd:file { read };
allow untrusted_app cbd:dir { getattr };
allow untrusted_app keystore:dir { search };
allow untrusted_app mediaserver:dir { search };
allow untrusted_app installd:file { open };
allow untrusted_app cbd:dir { search };
allow untrusted_app keystore:file { open };
allow untrusted_app drmserver:file { getattr };
allow untrusted_app mediaserver:file { getattr };
allow untrusted_app installd:file { read };
allow untrusted_app mediaserver:file { read };
allow untrusted_app rpmbd:file { read };
allow untrusted_app mediaserver:dir { getattr };
allow untrusted_app dmd:file { getattr };
allow untrusted_app rpmbd:dir { search };
allow untrusted_app installd:dir { getattr };
allow untrusted_app mediaserver:file { open };
allow untrusted_app keystore:file { read };
allow untrusted_app keystore:dir { getattr };
allow untrusted_app rpmbd:file { open };
allow untrusted_app installd:file { getattr };
allow untrusted_app dmd:dir { getattr };
allow untrusted_app installd:dir { search };
allow untrusted_app dmd:file { read };
allow untrusted_app rpmbd:file { getattr };
allow untrusted_app rpmbd:dir { getattr };
allow untrusted_app cbd:file { read };
allow untrusted_app sdcardd:dir { getattr };
allow untrusted_app zygote:dir { getattr };
allow untrusted_app platform_app:dir { search };
allow untrusted_app gatekeeperd:dir { getattr };
allow untrusted_app system_server:dir { getattr };
allow untrusted_app zygote:dir { search };
allow untrusted_app sdcardd:dir { search };
allow untrusted_app gatekeeperd:file { open };
allow untrusted_app gatekeeperd:file { getattr };
allow untrusted_app platform_app:file { read };
allow untrusted_app system_app:dir { search };
allow untrusted_app system_app:file { getattr };
allow untrusted_app platform_app:file { open };
allow untrusted_app zygote:file { open };
allow untrusted_app radio:file { open };
allow untrusted_app radio:dir { getattr };
allow untrusted_app platform_app:file { getattr };
allow untrusted_app system_app:file { read };
allow untrusted_app zygote:file { read };
allow untrusted_app radio:file { getattr };
allow untrusted_app sdcardd:file { open };
allow untrusted_app system_app:file { open };
allow untrusted_app radio:dir { search };
allow untrusted_app sdcardd:file { read };
allow untrusted_app gatekeeperd:file { read };
allow untrusted_app system_server:file { open };
allow untrusted_app sdcardd:file { getattr };
allow untrusted_app zygote:file { getattr };
allow untrusted_app system_server:file { getattr };
allow untrusted_app gatekeeperd:dir { search };
allow untrusted_app radio:file { read };
allow untrusted_app system_server:dir { search };
allow untrusted_app system_server:file { read };
#allow untrusted_app hw_random_device:chr_file { getattr };  # neverallow violation
#allow untrusted_app efs_file:dir { read };   # neverallow violation
